#Cookies-msg{
    width: 80%;
    position:fixed;
bottom: 1%;
left: 50%;
transform: translate(-50%);
border-radius: 10px;
background-color: #333;
color: white;
padding: 20px;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
display: none;
}

#Cookies-msg.mostrar{
    display: none;
}
#Cookies-msg{
    font-size: 10px;

}
#aceitoCookies button{
    background-color: #f456f4;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}
#aceitoCookies:hover{
    transform: scale(0.9);
    opacity: 0.3;
}
